{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{##}
{#{% block title %}#}
{#  <title>Dish Type</title>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    Dish Type List#}
{#    <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">#}
{#      Create#}
{#    </a>#}
{#  </h1>#}
{#  <form action="" method="get" class="form-inline">#}
{#    {{ search_form|crispy }}#}
{#    <input type="submit" value="🔎" class="btn btn-secondary">#}
{#  </form>#}
{#  {% if dish_type_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>ID</th>#}
{#        <th>Name</th>#}
{#        <th>Update</th>#}
{#        <th>Delete</th>#}
{#      </tr>#}
{##}
{#      {% for dish_type in dish_type_list %}#}
{#        <tr>#}
{#          <td>#}
{#            {{ dish_type.id }}#}
{#          </td>#}
{#          <td>#}
{#            {{ dish_type.name }}#}
{#          </td>#}
{#          <td>#}
{#            <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">#}
{#                Update#}
{#              </a>#}
{#          </td>#}
{#          <td>#}
{#            <a style="color: red"#}
{#                href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">#}
{#                Delete#}
{#              </a>#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{##}
{#   {% else %}#}
{#      <p>There are no dish types in restaurant kitchen!</p>#}
{#  {% endif %}#}
{#{% endblock %}#}

{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block title %} About Dish Types {% endblock %}

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{{ ASSETS_ROOT }}/img/bg9.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Type list of all dishes in our kitchen</h1>
                <a href="{% url 'kitchen:dish-type-create' %}" class="btn bg-gradient-light w-auto me-2">
                  Create new dish type
                </a>
            <div class="d-flex justify-content-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section class="pb-5 position-relative bg-gradient-dark mx-n3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-start mb-5 mt-5">
          <h3 class="text-white z-index-1 position-relative">You can see the whole list of dish types</h3>
        </div>
      </div>
      <div class="container">
        <div class="row justify-space-between py-2">
          <div class="col-lg-4 ">
            <div class="input-group input-group-dynamic">
              <form action="" method="get" class="form-inline">
                {{ search_form|crispy }}
                <input type="submit" value="🔎" class="btn btn-outline-white">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% if dish_type_list %}
        <div class="row">
          {% for dish_type in dish_type_list %}
            <div class="col-lg-6 col-12">
              <div class="card card-profile mt-4">
                <div class="row">
                  <div class="col-12 my-auto">
                    <div class="card-body">
                      <h5 class="mb-0">{{ dish_type.name }}</h5>
                        <h6 class="text-muted">id: {{ dish_type.id }}</h6>
                      <p class="mb-0">
                        <button type="button" class="btn bg-gradient-light w-auto me-2">
                          <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">Update</a>
                        </button>
                        <button type="button" class="btn bg-gradient-danger w-auto me-2">
                          <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">
                          Delete
                          </a>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no dishes in restaurant kitchen!</p>
      {% endif %}
    </div>
  </section>
  </div>

{% endblock content %}