{% extends "base.html" %}

{% block content %}
  <h1>Dish name: </h1>
    <h4>
      <em>{{ dish.name }}</em>
      <a 
          class="btn btn-secondary" 
          style="inline-start: rtl" 
          href="{% url 'kitchen:dish-update' pk=dish.id %}"
      >Edit
      </a>
      
    </h4>
  <p><strong>Price: </strong>{{ dish.price }}</p>
  <p><strong>Description: </strong>{{ dish.description }}</p>
  <div class="ml-3">
    <h3>A list of cooks to prepare the dish: </h3>
    {% for cook in dish.cooks.all %}
      <hr>
      <p class="text-muted">id: {{ cook.id }}</p>
      <p>{{ cook.first_name }} {{ cook.last_name }}
      {% if cook.years_of_experience %}
        ({{ cook.years_of_experience }} years of experience)
      {% endif %}
      </p>
      <p>If you want to delete this dish
        <a
            href="{% url 'kitchen:dish-delete' pk=dish.id %}"
            class="btn btn-danger"
        >CLick
        </a>
      </p>
    {% empty %}
      <p>No cooks!</p>
    {% endfor %}
  </div>
{% endblock %}