{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Prepare Dish
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>
  {% if dish_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Dish Type</th>
        <th>Description</th>
      </tr>

      {% for dish in dish_list %}
        <tr>
          <td> {{ dish.id }}</td>
          <td>
            <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
          </td>
          <td>{{ dish.dish_type}}</td>
          <td>{{ dish.description|truncatewords:5 }}</td>
        </tr>
      {% endfor %}
    </table>

   {% else %}
      <p>There are no dishes in restaurant kitchen!</p>
  {% endif %}
{% endblock %}